  <header class="header">
     
    <div class="header-brand">
      <div class="container">
        <div class="row">
		
		 {% if page.site_brand %}
          <div class="col-sm-3">
            {{ page.site_brand }}  
          </div>
		 {% endif %}


        {% if page.top_right %}
            <div class="col-sm-9 pull-right">
                {{ page.top_right }}
            </div>
        {% endif %}

        </div>
      </div>
    </div> 
  
  </header>

    {% if page.navigation %}
		 <div class="main-menu">
      {{ page.navigation }}
		 </div>
    {% endif %}
		
	{% if page.help %}
    <section id="help" class="help">
      <div class="container">
        {{ page.help }}
      </div>
    </section>
  {% endif %}   
	
	
	{# Include a slider. #}
  {% if slider %}
    <div class="flexslider">
      <ul class="slides">
        {% for slide in slider %}
          <li>
            <a href="{{ slide.url }}"><img src="{{ slide.src }}"></a>
            <p class="flex-caption">{{ slide.title }}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

{% if is_front %}
  
  <div class="front-content">
  
	{% if page.banner %}
    <section class="banner">
	    {{ page.banner }}
    </section>
	{% endif %}
	

	{% if page.featured_left or page.featured_right %}
    <section class="featured"> 
      <div class="container">
        <div class="row">
          
		  
		  {% if page.featured_left %}
          <div class="col-md-4 pdtop">
		  {{ page.featured_left }}
	      </div>
		  {% endif %}
		  
		  {% if page.featured_right %}
          <div class="col-md-8">
		  {{ page.featured_right }}
		  </div>
		  {% endif %}
            
        </div>
      </div>
    </section>
	{% endif %}

	{% if page.panel_top %}
	 <section class="panel-top">
    <div class="panel-top-inner">
    <div class="container">
	   {{ page.panel_top }}
	  </div> 
	  </div> 
   </section>
	{% endif %}
	
	{% if page.services_first or page.services_middle or page.services_last %}
    <section class="services">
		
		  {% if page.services_first %}
				<div class="serv-sec">
		  {{ page.services_first }}
		  </div>
		  {% endif %}
		  
		   {% if page.services_middle %}
			 <div class="serv-sec serv-sec2">
		  {{ page.services_middle }}
			</div>
		  {% endif %}
		  
		   {% if page.services_last %}
			 <div class="serv-sec serv-sec3">
		    {{ page.services_last }}
		  </div>
		  {% endif %}

    </section>
	{% endif %}
	
	{% if page.products_region %}
	 <section class="products-region">
    <div class="container">
		<div class="row">
	   {{ page.products_region }}
		 </div> 
	  </div> 
   </section>
	{% endif %}
	
	{% if page.panel_bottom %}
	 <section class="panel-bottom">
    <div class="container">
		<div class="row">
		<h2 class="block-title text-center">Our <span>Blog</span></h2>
	   {{ page.panel_bottom }}
		 </div> 
	  </div> 
   </section>
	{% endif %}
	
</div>


	{% else %}
	
	<div class="content-page">
		 
  {% if page.pre_content %}
	<div class="pre-content">
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
	   {{ page.pre_content }} 
		 </div>
		 </div>	 
	 </div>
	 </div>
	{% endif %}
			 
			
			 
	{% if page.content_top %}
	 <section class="content-top">
	   {{ page.content_top }}
   </section>
	{% endif %}
	
	<div class="main-content">
	 <div class="container">
	  <div class="row">
	
      <div id="main" class="{{ main_grid_class }}">
       <a id="main-content"></a>
			 	 
				{% if breadcrumb %}<div id="breadcrumb" class="clearfix"> {{ breadcrumb }} </div> {% endif %}
		
				{% if title and not is_front %}
					{{ title_prefix }}
						<h3 id="page-title" class="title"> {{ title }} </h3> {{ title_suffix }} 
			{% endif %}
			
         {{ page.content }}
		   </div>
		
        {% if page.sidebar_first %}
          <section id="sidebar-first" class="{{ sidebar_first_grid_class }} sidebar clearfix">
           {{ page.sidebar_first }}
          </section>
        {% endif %}
		
        {% if page.sidebar_second %}
          <section id="sidebar-second" class="{{ sidebar_second_grid_class }} sidebar clearfix">
           {{ page.sidebar_second }}
          </section>
        {% endif %}
				
		 </div>
    </div>
	 </div>
	 
	 {% if page.pre_footer %}
	<div class="pre-footer">
	 <div class="container">
	   <div class="row">
	    {{ page.pre_footer }} 
		 </div>	 
	  </div>
	 </div>
	{% endif %}
	 
  </div>
	
	{% endif %}
	
  
  {% if page.footer_top_first or  page.footer_top_second or  page.footer_top_third or  page.footer_top_last %}
	<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="footer-ribbon">
							<span>Get in Touch</span>
						</div>	  
	     {% if page.footer_top_first %}
          <div class="col-sm-3 col-md-4">
		  {{ page.footer_top_first }}
		  </div>
		  {% endif %}
		  
		 {% if page.footer_top_second %}
          <div class="col-sm-3 col-md-3">
		  {{ page.footer_top_second }}
		  </div>
		 {% endif %}
		  
		   {% if page.footer_top_third %}
          <div class="col-sm-3 col-md-3">
		  {{ page.footer_top_third }}
		    </div>
		  {% endif %} 
			
			{% if page.footer_top_last %}
          <div class="col-sm-3 col-md-2">
		  {{ page.footer_top_last }}
		    </div>
		  {% endif %} 			
				
      </div>
    </div>
		
		<div class="footer-copyright">
					<div class="container">
						<div class="row">
						
			<div class="col-sm-6 col-md-6">Copyright &copy; {{ "now"|date('Y') }} {{ 'All rights reserved.'|t }}</div>
	<div class="col-sm-6 col-md-6 text-right">Designed by KodeHauz</div>
    
			</div>
			</div>	
				</div>
     
    
  </footer>
  {% endif %}     